table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-content{
    margin-bottom: 25px;
}

.table-content .font-weight-bold{
    font-weight: bold;
}

.table-content .icon{
    color: gray;
}

td, th {
    width: 25%;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.search-title {
    margin-right: 27px;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-input {
    width: 175px;
}

.search-icon{
    position: relative;
    top: 6px;
    margin-right: 8px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 20px;
    align-items: center;
    flex-wrap: wrap;
}

.icons{
    display: flex;
}

.icons > * {
    cursor: pointer;
}

.add-button{
    height: 36px;
    padding: 0px 16px;
}