<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mat-elevation-z8">
  <div class="new-employee">
    <div>
      <h3>Editing: Marco Bottom</h3>
      <mat-form-field>
        <input [max]="maxDateDob" [min]="minDate" matInput [matDatepicker]="Dob" placeholder="Dob *" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="Dob" [disabled]="edit"></mat-datepicker-toggle>
        <mat-datepicker #Dob disabled="false"></mat-datepicker>
        <mat-error>
          Enter a valid date
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country" required>
          <mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>
        </mat-select>
        <mat-error>
          Country is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="userForm.get('username').hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="userForm.get('username').hasError('pattern')">
          Username can´t contain special characters
        </mat-error>
        <mat-error *ngIf="userForm.get('username').hasError('maxlength')">
          Username should contain less of 20 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="hireDate" [matDatepicker]="hireDate" [max]="maxDateHire" [min]="minDate" placeholder="Hire Date *">
        <mat-datepicker-toggle matSuffix [for]="hireDate" [disabled]="edit"></mat-datepicker-toggle>
        <mat-datepicker #hireDate disabled="false"></mat-datepicker>
        <mat-error>
          Enter a valid date
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle formControlName="status" labelPosition='before' color='primary'>Status</mat-slide-toggle>

    </div>
    <div>
      <div class="area">
        <span class="area-name">Area</span>

        <mat-button-toggle-group (change)="areaChange" formControlName="area" class="area-buttons" name="area" aria-label="Font Style">
          <mat-button-toggle value="Services" checked=true>Services</mat-button-toggle>
          <mat-button-toggle value="Kitchen">Kitchen</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <app-job-title [group]="userForm"></app-job-title>

      <mat-form-field *ngIf="showTipRate">
        <span matPrefix>% &nbsp;</span>
        <input matInput placeholder="Tip Rate" formControlName="tipRate" required>
        <mat-error *ngIf="userForm.get('tipRate').hasError('required')">
          Tip rate is required
        </mat-error>
        <mat-error *ngIf="userForm.get('tipRate').hasError('pattern')">
          Only numbers are accept
        </mat-error>
        <mat-error *ngIf="userForm.get('tipRate').hasError('maxlength')">
          Tip rate should contain less of 6 digits
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="buttons">
    <button mat-button color="primary" routerLink="/" type="button"><mat-icon>keyboard_arrow_left</mat-icon> Back</button>
    <button *ngIf="!edit" mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
  </div>


</form>